.container{
    text-align: center;
    margin-top: 23px ;
}
table{
    margin: auto;
}
input{
    border: 3px solid black;
    border-radius: 22px;
    font-size: 34px;
}
button{
    border-radius: 20px;
    font-size: 23px;
    background-color: #78c6ec;
    width: 89px;
    height: 62px;
}
.calculator{
    display: inline-block;
    background-color: #f39eda;
    padding: 15px;
    border-radius: 36px;
}
.special{
    background-color: #ba75e0;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn {
    width: 50px;
}
